.container-fluid{
    background-color: #0B0D26;
    width: 100%;
    border-radius: 8px;
}
.row-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em ;
}

.col-titulo {
    padding: 1em ;
    color: #ffffff;
    display: flex;
    justify-content: start;
}

.col-botones {
    display: flex;
    justify-content: start;
}

.col-tabla {
    display: flex;
    justify-content: start;
    padding-bottom: 1em;
}


.boton-pedidos i{
    font-size: 25px;;
}

.bi-box-seam{
    color:#544C9B
}

.bi-archive{
    color: #544C9B;
}

.bi-cart-x{
    color: #544C9B;
}

.bi-plus-square-fill{
    color: #9990E4;
    width: 16px;
    height: 16px;
}

.boton-pedidos{
    background-color: #181E38;
    color: #7D7878;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.boton-faltantes{
    background-color: #181E38;
    color: #7D7878;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}
.boton-faltantes:hover {
    background-color: #282c54;
    color: #ffffff;
    transform: scale(1.02);
}
.boton-pedidos:hover {
    background-color: #282c54;
    color: #ffffff;
    transform: scale(1.02);
}

button p{
    font-weight: bolder;
}

.table{
    color: #7D7878;
    margin-top: 20px;
    
}


.table thead th{
    color: white;
    border: red ;
}

.form-select{
    margin-left: 12%;
    border-radius: 6px;
}

.form-select:focus{
    border-color: #9990E4;
    box-shadow: 0 0 0 0.15rem #9990E4;
}



.table-primary{
    --bs-table-bg: #181E38;
    --bs-table-striped-bg: #151932;
    --bs-table-striped-color: #7D7878;
    border: #000000;
    
}





/* tabla */

.card th {
    background-color: #181E38; /* Color del texto, si es necesario */
    color: white;
}

.card{
    border: none;
    text-align: center;
}

th div{
    display: flex;
    justify-content: center;
}

.card td {
    background-color: #151932;
    color: #a5a5a5;
    text-align: center;
}
