<div class="container-fluid">
    <div class="row row-principal">
        <div class="col col-titulo">
            <h1><i class="bi bi-box-seam"></i> Pedidos</h1>
        </div>
        <div class="col-12 col-botones">
            <button type="button" class="btn boton-pedidos" (click)="nuevoPedido()">
                <p>
                    <i class="bi bi-archive"></i>
                    Añadir pedido
                    <i class="bi bi-plus-square-fill"></i>
                </p>
            </button>

            <button type="button" class="btn boton-faltantes">
                <p>
                    <i class="bi bi-cart-x"></i>
                    Productos faltantes
                </p>
            </button>
        </div>

        <div class="col col-tabla">
            <!-- arranca la tabla -->
            <div class="card">
                <p-table #dt2 [value]="pedidos" dataKey="id" [rows]="10"
                    [globalFilterFields]="['nombre', 'producto', 'fecha', 'estado','lugar']"
                    [tableStyle]="{ 'width': 'max-content' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:20%">Nombre</th>
                            <th style="width:20%">Producto</th>
                            <th style="width:20%">Fecha</th>
                            <th style="width:20%">Estado</th>
                            <th style="width:20%">Envio/Lugar</th>
                            <th style="width: 20%;">Editar</th>
                        </tr>
                        <tr>
                            <th>
                                <p-columnFilter type="text" class="" field="nombre" ariaLabel="Filter Name"
                                    showMenu="false" matchMode="contains" />
                            </th>
                            <th>
                                <p-columnFilter type="text" field="producto" ariaLabel="Filter Product" showMenu="false"
                                    matchMode="contains" />
                            </th>
                            <th>
                                <p-columnFilter type="text" field="fecha" ariaLabel="Filter Date" showMenu="false"
                                    matchMode="contains" />
                            </th>

                            <th>
                                <p-columnFilter field="estado" matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <select class="form-select" aria-label="Filter Status"
                                            [(ngModel)]="estadoSeleccionado" (ngModelChange)="filter($event)">
                                            <option *ngFor="let option of estadoOptions" [value]="option.value">
                                                <p-tag [value]="option.label"
                                                    [style]="{'background-color': colorEstado(option.value), 'cursor': 'pointer', 'user-select': 'none'}"
                                                    [severity]="getSeverity(option.value)"
                                                    ></p-tag>
                                            </option>
                                        </select>
                                    </ng-template>
                                </p-columnFilter>
                            </th>

                            <th>
                                <p-columnFilter field="envio" matchMode="contains" [showMenu]="false" />
                            </th>

                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pedido>
                        <tr>
                            <td>
                                {{ pedido.nombre }}
                            </td>
                            <td>
                                {{ pedido.producto }}
                            </td>
                            <td>
                                {{ pedido.fecha | date: 'dd/MM/yyyy' }}
                            </td>
                            <td>
                                <p-tag 
                                    [severity]="getSeverity(pedido.estado)"
                                    [value]="pedido.estado"
                                    [style]="{'background-color': colorEstado(pedido.estado), 'cursor': 'pointer', 'user-select': 'none'}"
                                    (click)="cambiarEstado(pedido)"
                                     />
                                    
                            </td>
                            <td>
                                {{ pedido.lugar }}
                            </td>
                            <td style="display: flex;">
                                <p-button
                                    [style]="{'border' : 'solid 2px','border-radius': '40px', 'color' : '#006007'}"
                                    icon="bi bi-pencil-fill" class="mx-2" [outlined]="true"
                                    (onClick)="editarPedido(pedido)" />

                                <p-button
                                    [style]="{'border' : 'solid 2px','border-radius': '40px', 'color' : '#700A20'}"
                                    icon="bi bi-trash-fill" severity="danger" [outlined]="true"
                                    (onClick)="eliminarPedido(pedido)" />
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">No se econtraron pedidos.</td>
                        </tr>
                    </ng-template>
                </p-table>

                <!-- arrancaría el dialog -->
                 <app-pedidos-dialog 
                 [estadoOptions]="estadoOptions"
                 [selectedPedido]="selectedPedido"
                 [modelosDisponibles]="modelosDisponibles"

                 />
            </div>

        </div>
    </div>

    <!-- termina container -->
</div>