.mat-column-id {
    width: 32px;
}

.mat-column-dni {
    font-style: italic;
}

table,mat-card-content,mat-paginator{
    background-color: #181E38;
    color: #A5A5A5
}

td,th{
    color: #A5A5A5;
}



