<div class="container mt-4">
    <mat-card>
        <!-- <mat-card-header class="col-12 mb-4">
            <mat-card-title>Gestion de solicitudes</mat-card-title>
        </mat-card-header> -->
        <mat-card-content class="row px-5">

            <mat-form-field class="col-6">
                <mat-label>Filtrar</mat-label>
                <input matInput [(ngModel)]="inputFilter" (keyup)="applyFilter($event)" #input>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="selectedEstado" (selectionChange)="applyFilterEstado(selectedEstado)">
                    <mat-option *ngFor="let estado of estados" [value]="estado">
                        <mat-chip [style]="{'background-color': colorEstado(estado)}">{{estado}}</mat-chip>
                    </mat-option>
                </mat-select>
            </mat-form-field>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="clienteNombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.clienteNombre}}</td>
                    </ng-container>

                    <ng-container matColumnDef="productNombreList">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                        <td mat-cell *matCellDef="let row"> 
                            <span *ngIf="row.productList?.length <= 0">
                                Sin Producto
                            </span>

                            <span *ngIf="row.productList?.length === 1">
                                {{ row.productoMarca + " " + row.productoModelo + " " + row.productoColor + " " + row.productoTalle }}
                            </span>

                            <span *ngIf="row.productList?.length > 1" matTooltip="{{ row.productNombreList }}">
                                {{ "x" + row.productList?.length + " productos" }}
                            </span>    

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaCreacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let row"> {{row.fechaCreacion | date:'dd/MM/yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row"> 
                            <mat-chip [style]="{'background-color': colorEstado(row.estado)}">{{row.estado}}</mat-chip>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar </th>
                        <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Editar">
                        <th mat-header-cell *matHeaderCellDef> Editar </th>
                        <td mat-cell *matCellDef="let row">
                            <!-- <button mat-icon-button (click)="cambiarEstado(row)"><mat-icon>edit_note</mat-icon></button>  -->
                            <button mat-icon-button><mat-icon>edit_note</mat-icon></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                    aria-label="Seleccionar pagina de solicitudes">
                </mat-paginator>

        </mat-card-content>
    </mat-card>
</div>