<p-dialog [(visible)]="showDialog" [style]="{ width: '550px', height: '600px'}" header="{{getTitulo()}}"  [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="name">Cliente</label>
            <input type="text" pInputText id="name" [(ngModel)]="selectedPedido.nombre" required autofocus />
        </div>


        <div class="field">
            <label for="estado">Estado</label>
            <p-dropdown [(ngModel)]="selectedPedido.estado" inputId="estado" [options]="estadoOptions">
                <ng-template pTemplate="selectedItem">
                    <p-tag [value]="selectedPedido.estado.toUpperCase()" 
                          [style]="{'background-color': colorEstado(selectedPedido.estado), 'cursor': 'pointer', 'user-select': 'none'}" />
                </ng-template>
                <ng-template let-option pTemplate="item">
                    <p-tag [value]="option.label" [style]="{'background-color': colorEstado(option.label)}" />
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="producto">Producto</label>
            <p-autoComplete [(ngModel)]="selectedPedido.producto" [suggestions]="listaFiltrada"
                (completeMethod)="filtrarModelos($event)" />
        </div>

        <div class="field">
            <label for="fecha">Fecha</label>
            <p-calendar [(ngModel)]="selectedPedido.fecha" dateFormat="dd/mm/yy" />
        </div>

        <div>
            <label for="precio">Precio</label>
            <p-inputNumber [(ngModel)]="selectedPedido.precio" inputId="locale-german" mode="decimal" locale="de-DE"
                [minFractionDigits]="2" />
        </div>

        <div class="field">
            <div class="flex align-items-center">
                <label for="Es Envio">
                    <p-checkbox [(ngModel)]="selectedPedido.esEnvio" label="Es Envio" name="Es Envio" [binary]="true" />
                </label>
            </div>
        </div>

        <div class="field">
            <label for="entrega" *ngIf="!selectedPedido.esEnvio">Punto de encuento en</label>
            <label for="entrga" *ngIf="selectedPedido.esEnvio">Envio a</label>
            <input type="text" pInputText [(ngModel)]="selectedPedido.lugar" />
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveProduct()" />
    </ng-template>
</p-dialog>