/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */


body{
    background-color: #181E38;
    color: white;
}
app-root {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

/* Input del filtro */
.p-inputtext{
    height: 37.6px;
    padding: 10px;
    margin-left: 12%;
}

.p-inputtext:focus{
    box-shadow: 0 0 0 0.15rem #9990E4;
    border: none;
}

/* Boton de limpiar filtro */
.p-column-filter-clear-button{
    margin-left: -10px;
}

.p-column-filter-clear-button:hover{
    background-color: white;
    color:black;
}
